<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Calendar</title>
  </head>
  <body>
    <div class="container-fluid" style="background-color:green;">
      <div class="text-center"><h1>予定カレンダー</h1></div>
      <div class="text-center"><h4><%= @calendar[:info_man].html_safe %></h4></div>
      <div class="text-center"><h4><%= @calendar[:info_woman].html_safe %></h4></div>
      <div class="text-center"><h4><%= @calendar[:info_man_woman].html_safe %></h4></div>
      <div class="text-center"><h4><%= @calendar[:info_no_plan].html_safe %></h4></div>
    </div>
    <div class="container-fluid" style="background-color:white;">
      <table class="table table-bordered table-striped" id="dateTable">
        <thead>
          <tr>
            <th>日</th>
            <th>月</th>
            <th>火</th>
            <th>水</th>
            <th>木</th>
            <th>金</th>
            <th>土</th>
          </tr>
        </thead>
        <tbody>
          <% count = 0 %>
          <% @calendar[:data].each do |date| %>
            <% if date.wday == 0 %><tr><% end %>
            <td  id="td<%= count %>">
              <%= date.month %>/<%= date.day %>
              <% count = count + 1 %>
            </td>
            <% if date.wday == 6 %></tr><% end %>
          <% end %>
          <% if count < 42 %>
            <% for num in 1..7 do %>
              <td><font color="white">0</font></td>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-4" style="background-color:red;"><a href="/calendar/index/<%= @prevYear %>/<%= @prevMonth %>/-1"><h4>先月</h4></a></div>
        <div class="col-xs-4" style="background-color:blue;"><a href="/calendar/index"><h4>今月</h4></a></div>
        <div class="col-xs-4" style="background-color:green;"><a href="/calendar/index/<%= @nextYear %>/<%= @nextMonth %>/1"><h4>来月</h4></a></div>
      </div>
    </div>
    <div class="container-fluid" style="background-color:yellow;">
      <div class="text-center"><h3><%= @year %>/<%= @month %></h3></div>
    </div>
    <script language="javascript">
      function getCELL() {
       var myTbl = document.getElementById('dateTable');
      　for (var i=0; i<myTbl.rows.length; i++) {
         for (var j=0; j<myTbl.rows[i].cells.length; j++) {
          var Cells=myTbl.rows[i].cells[j];
      　       // onclickで 'Mclk'を実行。thisはクリックしたセル"td"のオブジェクトを返す。
      　　 Cells.onclick =function(){Mclk(this);}
      　  }
      　 }
      function Mclk(Cell) { 
         var cellVal = 'セルの内容：'+Cell.innerHTML;
         alert(cellVal);
      }
    </script>
  </body>
</html>